<section id="toolbar" class="toolbar-conversations">
  <nav class="toolbar_menu">
    <ul class="nav">
    <li>
      <%= link_to 'New Message', new_message_path %>

    </li>
    <li>
      <%= link_to 'Inbox', conversations_path(box: :inbox) %>
    </li>
    <li>
      <%= link_to 'Sentbox', conversations_path(box: :sentbox) %>
    </li>
    <li>
      <%= link_to 'Trash', conversations_path(box: :trash) %>

    </li>
    </ul>
  </nav>
</section>