<div class="row">
  <div class="span6 offset1">
    <h2>My Gossips</h2>
    <%= render @posts %>
  </div>

  <div class="span3 offset1">
    <h2>My Communities</h2>
    <%= render @communities %>
  </div>
</div>