<h2>My Communities</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @communities %>
  </tbody>
</table>
<h2>My Posts</h2>
<div class="posts">
  <%= render @posts %>
</div>
