<h1><%= @user.email %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @communities %>
  </tbody>
</table>