<div class="row">
  <div class="span6 offset1">
    <h1>My Secrets</h1>
    <div id="posts">
	    <%= render @posts %>
	  </div>
    <%= will_paginate @posts %>
  </div>

  <div class="span3 offset1">
    <h1>My Communities</h1>
    <%= render @communities %>
  </div>
</div>