<div class="center hero-unit">
	<h1>Welcome to Gossiips</h1>
	<p>
		Gossip anonymously, and listen to gossips.
	</p>
	<p>
		<%= link_to "Sign Up", "#", class: "btn btn-large btn-primary" %>
	</p>
</div>