<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <strong>Description:</strong>
			  <%= @post.description %>
			</p>

			<p>
			  <strong>Community:</strong>
			  <%= @post.community.description %>
			</p>

			<%= link_to 'Back', posts_path %>
		</div>
	</div>
</div>