$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: #5B375B;
$navbarBackground: #5B375B;
$btnPrimaryBackground: #5B375B;
$btnPrimaryBackgroundHighlight: #5B375B;
$btnBackground: white;
$btnBackgroundHighlight: white;

@import 'bootstrap';

body {
	padding-top: 60px;
	background: #F0F0F0;
	a {
  	color: #5B375B;
  }
  a:hover {
   	text-decoration: none;
  	color: #5B375B;
  }
}

@import 'bootstrap-responsive';

.navbar-simple .brand {
	color: white;
}

.navbar-simple .navbar-inner{
    border: 0;
	  filter: none !important;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

.navbar .nav > li  {
    a {
    	color: white;
    }
    a:hover {
    	color: white;
    }
}


.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	box-shadow: 1px 1px 10px #444;
	width: 100%;
	background: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.description {
	margin: 10px 0 5px;

}

.wrapper {
	text-align: center;
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

.icon-pink{
	color: #DB7093;
}

.icon-blue{
	color: #4169E1;
}

.icon-purple{
	color: #5B375B;
}