<div class="row">
	<div class="span6 offset1">
		<h3>
		  <%= @category.description %>
		</h3>
	  <div class="communities">
      <%= render @communities %>
      <%= will_paginate @communities %>
    </div>
	</div>
</div>

