<div class="row">
	<div class="span10 offset1">
		<h3>
		  <%= @category.description %>
		</h3>
	  <div id="communities">
      <%= render @communities %>
      
    </div>
    <%= will_paginate @communities %>
	</div>
</div>

