<tr>
	<td><%= link_to community.description, community %></td>
	<td><%= community.category %></td>
	<td><%= community.location %></td>
	<td><%= link_to 'Join', join_community_path(community) %></td>
</tr>