<div class="row-fluid">
	<div class="span8">
	  <h1>Communities</h1>
	  <%= link_to 'New Community', new_community_path %>
	  	<div id="communities">
	        <%= render @communities %>       
	      </div>  
	  <%= will_paginate @communities %>
	</div>
</div>