<h1>Communities</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @communities %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
